# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==1.2.0
# git+https://github.com/runpod/runpod-python.git@main

diffusers==0.19.3
torch==1.13.1
ftfy==6.1.1
scipy==1.11.1
transformers==4.30.0
accelerate==0.20.3
xformers
triton
